body {
    background-color: hsl(193, 17%, 90%);
    font-family: Tahoma, Verdana, sans-serif;
    color: hsl(193, 17%, 90%);
    color: hsl(177, 23%, 71%);
    color: hsl(211, 12%, 48%);
    color: hsl(189, 16%, 25%);
    text-align: center;
}

.title {
    font-size: 55px;
}

.contents {
    border: 5px solid hsl(177, 23%, 71%);
}

.contents ul,
.contents ol {
    text-align: center;
    list-style-position: inside;
    margin-bottom: 15px;
}

.princ {
    font-weight: 700;
}

ul > li {
    font-weight: 400;
}

.desc {
    font-size: 25px;
}

h2 {
    font-size: 40px;
}

hr {
    border: 5px solid hsl(177, 23%, 71%);
}

a{
    text-decoration: none;
    font-size: 28px;
    color: hsl(189, 16%, 15%);
    background-color: hsl(177, 23%, 82%);
}

.main ul {
    list-style: none;
}

.main li {
    display: inline-block;
    margin-right: 50px;
}


